body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #1C2A38;
    font-size: 17px;
}
body.no-scroll{
    overflow: hidden;
}
*{
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}
img{
    display: block;
    object-fit: contain;
    width: 100%;
    height: 100%;
}
a{
    color: rgba(255, 255, 255, 0.55);
    text-decoration: none;
    transition: .3s;
}
a:hover{
    transition: .3s;
}
ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
button, input, textarea{
    outline: none;
    border: none;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background: transparent;
    font-weight: 400;
	color: #fff;
}
input::placeholder, textarea::placeholder{
    font-family: 'Montserrat', sans-serif;
    color: #CECECE;
    font-weight: 500;
}
button{
    transition: .3s;
}
button:hover{
    transition: .3s;
}
p{
    margin: 0;
}
.container{
    width: 1216px;
    margin: 0 auto;
}
.cta{
    background: #24CE7B;
    border-radius: 5px;
    padding: 17px 57px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
}
.cta:hover{
    box-shadow: 0px 0px 15px rgba(36, 206, 123, 0.55);
}
.cta:active{
    background: #06AE5C;
    color: rgba(255, 255, 255, 0.7);
    box-shadow: none;
}
section{
    padding: 100px 0;
}
.section-title{
    font-weight: 600;
    font-size: 32px;
    line-height: 1.5em;
    margin-bottom: 50px;
}
.section-title span{
    color: #24CE7B;
}
.common-input{
    width: 100%;
    border: 1px solid #CECECE;
    border-radius: 8px;
    padding: 16px 20px;
    font-weight: 500;
    font-size: 16px;
    color: #454545;
}

/* #region Hero */
.hero{
    height: 900px;
    background: url("../img/elements/hero-bg.png") no-repeat center center/cover;
    padding: 70px 0 0 0;
}
.header{
    display: flex;
    justify-content: space-between;
}
.header-logo{
    width: 158px;
    height: 51px;
}
.header-contacts{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.header-contacts__link{
    font-size: 18px;
    color: #FFFFFF;
}
.header-contacts__link:not(:last-of-type){
    margin-bottom: 25px;
}
.header-contacts__link_phone{
    font-weight: 500;
}
.hero-cta{
    margin-top: 125px;
    max-width: 460px;
    color: #fff;
}
.hero-cta__title{
    font-weight: 500;
    font-size: 60px;
    line-height: 73px;
    margin-bottom: 25px;
}
.hero-cta__title span{
    color: #24CE7B;
}
.hero-cta__p{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5em;
    margin-bottom: 25px;
}
/* #endregion */

/* #region Specialists */
.section-title_specialists{
    max-width: 740px;
    margin-bottom: 10px;
}
.specialists-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.specialists-list{
    counter-reset: li;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.specialists-item{
    counter-increment: li;
    max-width: 330px;
    display: flex;
}
.specialists-item:not(:nth-last-child(-n+2)){
    margin-bottom: 40px;
}
.specialists-item::before{
    content: counter(li);
    font-weight: 600;
    font-size: 23px;
    line-height: 1.5em;
    color: #24CE7B;
    margin-right: 16px;
}
.specialists-item__title{
    font-weight: 600;
    font-size: 23px;
    line-height: 1.5em;
}
.specialists-item__p{
    font-weight: 400;
    font-size: 17px;
    line-height: 1.5em;
    margin-top: 6px;
}
.specialists-image{
    width: 494px;
    height: 446px;
    flex-shrink: 0;
    margin-left: 56px;
}
/* #endregion */

/* #region Stats */
.stats{
    background: linear-gradient(257.78deg, rgba(36, 206, 123, 0.2) 0%, rgba(0, 0, 0, 0) 100%), #0E1B2B;
    position: relative;
}
.stats::before{
    content: "";
    position: absolute;
    background: url("../img/elements/stats-bg.png") no-repeat center center/cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}
.stats-wrapper{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}
.stats-item{
    width: calc(calc(100% - 215px) / 5);
    color: #fff;
    text-align: center;
    opacity: 0;
    position: relative;
    bottom: -50px;
    transition: .5s;
}
.stats-item_visible{
    opacity: 1;
    transition: .5s;
    bottom: 0;
}
.stats-item__title{
    display: block;
    font-weight: 600;
    font-size: 35px;
    line-height: 1.5em;
    color: #24CE7B;
    margin-bottom: 12px;
}
.stats-item__description{
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5em;
    color: #FFFFFF;
}
/* #endregion */

/* #region Includes */
.section-title_includes{
    max-width: 585px;
}
.includes-wrapper{
    display: flex;
    align-items: center;
}
.includes-item{
    color: #373737;
}
.includes-item:not(:last-of-type){
    margin-bottom: 30px;
}
.includes-item-title{
    font-weight: 600;
    font-size: 22px;
    line-height: 1.5em;
    margin-bottom: 10px;
}
.includes-item-title__counter{
    color: #24CE7B;
}
.includes-item__description{
    font-weight: 500;
    font-size: 17px;
    line-height: 1.5em;
}
.includes-item__description_short{
    max-width: 488px;
}
.includes-image{
    width: 553px;
    height: 421px;
    margin-left: 64px;
    flex-shrink: 0;
}
/* #endregion */

/* #region Offers */
.offers{
    background: url("../img/elements/offers-bg.png") no-repeat center center/cover;
}
.section-title_offers{
    color: #fff;
    max-width: 680px;
}
.offers-wrapper{
    display: flex;
}
.offers-block:first-of-type{
    max-width: 410px;
    margin-right: 108px;
}
.offers-block:last-of-type{
    max-width: 603px;
}
.offer-item{
    color: #fff;
}
.offer-item:not(:last-of-type){
    margin-bottom: 20px;
}
.offer-item__title{
    font-weight: 600;
    font-size: 22px;
    line-height: 1.5em;
    display: flex;
    align-items: center;
}
.offer-item__title::before{
    content: "x";
    text-transform: uppercase;
    font-weight: 800;
    font-size: 40px;
    line-height: 1.5em;
    color: #24CE7B;
    margin-right: 15px;
}
.offer-item__p{
    font-size: 22px;
    line-height: 1.5em;
}
.offer-item__p_short{
    max-width: 360px;
}
.offers-cta{
    margin: 50px auto 0;
    display: block;
}
/* #endregion */

/* #region Resources */
.section-title_resources{
    max-width: 588px;
}
.resources-wrapper{
    max-width: 1192px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.resource-item{
    text-align: center;
}
.resource-item:not(:last-of-type){
    margin-right: 68px;
}
.resource-item__title{
    font-weight: 600;
    font-size: 28px;
    line-height: 1.5em;
    color: #24CE7B;
    display: block;
    margin-bottom: 12px;
}
.resource-item__description{
    font-size: 18px;
    line-height: 1.5em;
}
/* #endregion */

/* #region Sure */
.sure{
    background: linear-gradient(257.78deg, rgba(36, 206, 123, 0.2) 0%, rgba(0, 0, 0, 0) 100%), #0E1B2B;
    position: relative;
    color: #fff;
}
.sure::before{
    content: "";
    background: url("../img/elements/sure-bg.png") no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.sure .container{
    position: relative;
}
.section-title_sure{
    max-width: 553px;
}
.sure-wrapper{
    counter-reset: sure;
}
.sure-line{
    display: flex;
    justify-content: center;
}
.sure-line:not(:last-of-type){
    margin-bottom: 30px;
}
.sure-item{
    backdrop-filter: blur(8px);
    width: 289px;
    height: 240px;
    position: relative;
    border-radius: 8px;
    padding: 15px;
    counter-increment: sure;
}
.sure-item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../img/elements/sure-border.svg") no-repeat center center/contain;
}
.sure-item:not(:last-of-type){
    margin-right: 30px;
}
.sure-item__title{
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5em;
    margin-bottom: 10px;
    position: relative;
}
.sure-item__p{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
    position: relative;
}
.sure-item__counter{
    position: absolute;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    bottom: 15px;
    right: 15px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sure-item__counter::before{
    content: counter(sure);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5em;
    color: #24CE7B;
}
.sure-cta{
    margin: 30px auto 0;
    display: block;
}
/* #endregion */

/* #region Expers */
.section-title_experts{
    max-width: 909px;
}
.experts-line{
    display: flex;
}
.experts-line:not(:last-of-type){
    margin-bottom: 30px;
}
.expert-item{
    width: 288px;
}
.expert-item:not(:last-of-type){
    margin-right: 20px;
}
.expert-item__title{
    font-weight: 600;
    font-size: 25px;
    line-height: 1.5em;
    color: #24CE7B;
    display: block;
    margin-bottom: 15px;
}
.expert-item__description{
    font-size: 20px;
    line-height: 1.5em;
    color: #000000;
}
/* #endregion */

/* #region Employees */
.employees{
    background: linear-gradient(257.78deg, rgba(36, 206, 123, 0.2) 0%, rgba(0, 0, 0, 0) 100%), #0E1B2B;
    position: relative;
    color: #fff;
}
.employees::before{
    content: "";
    background: url("../img/elements/experts-bg.png") no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.employees .container{
    position: relative;
}
.employees-stats{
    display: flex;
    justify-content: space-between;
}
.employee-item{
    opacity: 0;
    position: relative;
    bottom: -50px;
    transition: .5s;
}
.employee-item_visible{
    opacity: 1;
    bottom: 0;
    transition: .5s;
}
.employee-item:not(:last-of-type){
    margin-right: 57px;
}
.employee-item__title{
    font-weight: 600;
    font-size: 35px;
    line-height: 1.5em;
    color: #24CE7B;
    display: block;
    margin-bottom: 10px;
}
.employee-item__p{
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5em;
}
.employees-info{
    margin-top: 69px;
    display: flex;
    justify-content: space-between;
}
.employees-info__description{
    margin-right: 124px;
}
.employees-info-p{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5em; 
}
.employees-info-p:not(:last-of-type){
    margin-bottom: 15px;
}
.employees-info-p span{
    color: #24CE7B;
    font-weight: 600;
}
.employees-info-cta{
    margin-top: 48px;
}
.employees-cta{
    display: none;
}
.employees-info__photo {
    display: flex;
    flex-shrink: 0;
}
.employees-info-ceo{
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}
.employees-info-ceo__name{
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5em;
}
.employees-info-ceo__subtitle{
    font-size: 18px;
    line-height: 1.5em;
}
.employees-info-photo{
    width: 355px;
    height: 358px;
    border-radius: 5px;
    margin-left: 20px;
    flex-shrink: 0;
}
/* #endregion */

/* #region Partners */
.section-title_partners{
    max-width: 820px;
}
.partners-line{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.partners-line:not(:last-of-type){
    margin-bottom: 35px;
}
.partners-line:nth-of-type(1) .partners-item:not(:last-of-type){
    margin-right: 21px;
}
.partners-line:nth-of-type(2) .partners-item:not(:last-of-type){
    margin-right: 35px;
}
.partners-line:nth-of-type(3) .partners-item:not(:last-of-type){
    margin-right: 26px;
}
.partners-line:nth-of-type(4) .partners-item:not(:last-of-type){
    margin-right: 30px;
}
/* #endregion */

/* #region Prices */
.prices{
    background: url("../img/elements/offers-bg.png") no-repeat center center/cover;
    color: #fff;
}
.section-title_prices{
    max-width: 753px;
}
.prices-dependencies{
    display: flex;
    justify-content: space-between;
}
.prices-dependenciec__title{
    font-size: 28px;
    line-height: 1.5em;
    margin-right: 26px;
}
.prices-dependencies__list{
    display: flex;
    flex-direction: column;
}
.price-dependency{
    font-size: 28px;
    line-height: 1.5em;
    display: flex;
    align-items: center;
}
.price-dependency::before{
    content: "";
    width: 287px;
    flex-shrink: 0;
    height: 18px;
    margin-right: 26px;
    background: url("../img/elements/arrow-right.svg") no-repeat center right/cover;
}
.price-dependency:not(:last-of-type){
    margin-bottom: 25px;
}
.prices-numbers{
    margin-top: 60px;
    max-width: 718px;
}
.prices-numbers-line{
    display: flex;
}
.prices-numbers-line:not(:last-of-type){
    margin-bottom: 25px;
}
.prices-numbers-item:not(:last-of-type){
    margin-right: 59px;
}
.prices-numbers-item__title{
    font-weight: 600;
    font-size: 35px;
    line-height: 1.5em;
    color: #24CE7B;
    display: block;
    margin: 11px 0 12px;
}
.prices-numbers-item__p{
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5em;
}
/* #endregion */

/* #region Steps */
.steps-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.steps-list{
    max-width: 600px;
}
.step:not(:last-of-type){
    margin-bottom: 25px;
}
.step__title{
    font-weight: 600;
    font-size: 22px;
    line-height: 1.5em;
    margin-bottom: 10px;
}
.step__title span{
    color: #24CE7B;
}
.step__description{
    font-weight: 500;
    font-size: 17px;
    line-height: 1.5em;
    color: #373737;
}
.steps-form{
    max-width: 392px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    padding: 40px 30px;
}
.steps-form__warning{
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: #454545;
    margin-bottom: 40px;
}
.steps-form-inputs__field:not(:last-of-type){
    margin-bottom: 20px;
}
.steps-form__submit{
    margin: 40px auto 0;
    display: block;
}
/* #endregion */

/* #region Footer */
.footer{
    background: #1C2A38;
    padding: 50px 0;
    color: #fff;
    position: relative;
}
.footer::before{
    content: "";
    background: url("../img/elements/footer-bg.png") no-repeat center center/cover;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
}
.footer-logo{
    position: relative;
    display: block;
    width: 158px;
    height: 51px;
}
.footer-line{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.footer-info{
    display: flex;
    align-items: center;
}
.footer-info__text{
    font-size: 18px;
    font-weight: 400;
}
.footer-info__text:not(:last-child){
    margin-right: 25px;
}
.footer-info__text_address{
    font-weight: 500;
    text-align: center;
}
.footer-copyright{
    font-size: 18px
}
/* #endregion */

/* #region Modal Form */
.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    overflow: auto;
    display: none;
    padding: 20px 0;
}
.modal.modal_flex{
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.modal-bg{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1;
}
.modal-content{
    border-radius: 10px;
    background: #fff;
    position: relative;
    z-index: 2;
    max-width: 598px;
    padding: 60px 45px;
    margin: 0 auto;
}
.modal-close{
    background: url("../img/elements/close.svg") no-repeat center center/contain;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 30px;
    right: 30px;
}
.modal-form-warn{
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: #000000;
    max-width: 416px;
    margin: 0 auto 62px;
}
.modal-form-fields{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.modal-form-fields__input{
    width: calc(calc(100% - 36px) / 2);
}
.modal-form-fields__input:not(:nth-last-child(-n+2)){
    margin-bottom: 25px;
}
.modal-form-submit{
    margin: 62px auto 0;
    display: block;
}
/* #endregion */

/* #region Extra Large Screen Version */
@media screen and (max-width: 1250px){
    .container{
        width: 960px;
    }
    .section-title_specialists {
        margin-bottom: 50px;
    }
    .stats-item__title {
        font-size: 28px;
    }
    .includes-image {
        width: 425px;
    }
    .resource-item:not(:last-of-type) {
        margin-right: 10px;
    }
    .sure-item {
        width: 217.5px;
        height: 181px;
    }
    .sure-item__title {
        font-size: 14px;
    }
    .sure-item__p {
        font-size: 10px;
    }
    .expert-item {
        width: 225px;
    }
    .expert-item__description {
        font-size: 16px;
    }
    .expert-item__title {
        font-size: 24px;
    }
    .employee-item:not(:last-of-type) {
        margin-right: 40px;
    }
    .employee-item__title {
        font-size: 30px;
    }
    .employees-info-photo {
        width: 300px;
        height: 302px;
    }
    .employees-info__description {
        margin-right: 50px;
    }
    .partners-line:nth-of-type(1) .partners-item{
        max-width: calc(calc(100% - 126px) / 7);
    }
    .partners-line:nth-of-type(2) .partners-item{
        max-width: calc(calc(100% - 175px) / 6);
    }
    .partners-line:nth-of-type(3) .partners-item{
        max-width: calc(calc(100% - 104px) / 5);
    }
    .partners-line:nth-of-type(4) .partners-item{
        max-width: calc(calc(100% - 120px) / 5);
    }
    .price-dependency::before {
        width: 125px;
    }
    .price-dependency {
        font-size: 24px;
    }
    .prices-dependenciec__title {
        font-size: 24px;
        margin-right: 15px;
    }
    .steps-list {
        max-width: 500px;
    }
    .footer-info__text:not(:last-child) {
        margin-right: 15px;
    }
    .footer-info__text {
        font-size: 14px;
    }
    .footer-copyright {
        font-size: 14px;
    }
    .specialists-item:not(:nth-last-child(-n+2)) {
        margin-bottom: 0;
    }
    .specialists-item:not(:last-of-type) {
        margin-bottom: 40px;
    }
    .employees-cta{
        display: block;
        margin-top: 48px;
    }
    .employees-info-cta{
        display: none;
    }
}
/* #endregion */

/* #region Mobile Version */
@media screen and (max-width: 991px){
    .container{
        width: 100%;
        padding: 0 20px;
        max-width: 540px;
    }
    section {
        padding: 50px 0;
    }
    .header-logo {
        width: 86px;
        height: 28px;
    }
    .header-contacts__link {
        font-weight: 400;
        font-size: 13px;
    }
    .header-contacts__link:not(:last-of-type) {
        margin-bottom: 15px;
    }
    .hero {
        padding: 40px 0 179px;
        height: max-content;
    }
    .hero-cta {
        margin-top: 71px;
    }
    .hero-cta__title {
        font-size: 38px;
        line-height: 46px;
        margin-bottom: 15px;
    }
    .hero-cta__p {
        font-weight: 500;
        font-size: 15px;
    }
    .cta {
        font-size: 14px;
        padding: 12px 78px;
        width: 100%;
        max-width: 280px;
    }
    .section-title {
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 20px;
    }
    .specialists-image{
        display: none;
    }
    .specialists-item:not(:last-of-type) {
        margin-bottom: 15px;
    }
    .specialists-item::before {
        font-size: 18px;
        margin-right: 16px;
    }
    .specialists-item__title {
        font-size: 16px;
    }
    .specialists-item__p {
        font-size: 13px;
        margin-top: 4px;
    }
    .stats-wrapper{
        flex-wrap: wrap;
        justify-content: center;
    }
    .stats-item {
        width: calc(calc(100% - 18px) / 2);
        padding: 11px 0;
    }
    .stats-item:nth-child(1), .stats-item:nth-child(3){
        margin-right: 18px;
    }
    .stats-item__title {
        font-size: 16px;
        margin-bottom: 12px;
    }
    .stats-item__description {
        font-weight: 500;
        font-size: 12px;
    }
    .stats-item:not(:last-of-type){
        margin-bottom: 10px;
    }
    .includes-wrapper {
        flex-direction: column;
    }
    .includes-item:not(:last-of-type) {
        margin-bottom: 15px;
    }
    .includes-item-title {
        font-size: 16px;
        margin-bottom: 5px;
    }
    .includes-item__description {
        font-size: 12px;
    }
    .includes-image {
        width: 100%;
        margin: 15px 0 0 0;
        height: max-content;
    }
    .offers {
        background-position-x: 82% !important;
    }
    .offer-item__title {
        font-size: 16px;
        margin-bottom: 5px;
    }
    .offer-item__title::before {
        font-size: 25px;
    }
    .offers-wrapper {
        display: flex;
        flex-direction: column;
    }
    .offers-block:first-of-type {
        max-width: 100%;
        margin: 0 0 15px 0;
    }
    .offer-item__p {
        font-size: 12px;
    }
    .offer-item:not(:last-of-type) {
        margin-bottom: 15px;
    }
    .offers-cta{
        margin-top: 20px;
    }
    .resources-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .resource-item:not(:last-of-type) {
        margin: 0 0 15px 0;
    }
    .resource-item__title {
        font-size: 16px;
        margin-bottom: 12px;
    }
    .resource-item__description {
        font-size: 12px;
        max-width: 226px;
        font-weight: 500;
    }
    .resource-item__description br{
        display: none;
    }
    .sure-line {
        flex-direction: column;
        align-items: center;
    }
    .sure-item:not(:last-of-type) {
        margin: 0 0 20px 0;
    }
    .sure-item {
        width: 280px;
        height: 240px;
        max-width: 100%;
    }
    .sure-item__title {
        font-size: 18px;
    }
    .sure-item__p {
        font-size: 16px;
    }
    .sure::before {
        background-position-x: 88% !important;
        background-repeat: repeat !important;
        background-size: 400% !important;
    }
    .sure-cta{
        margin-top: 15px;
    }
    .sure-line:not(:last-of-type){
        margin: 0 0 20px 0;
    }
    .experts-line:not(:last-of-type){
        margin-bottom: 15px;
    }
    .experts-line {
        flex-direction: column;
    }
    .expert-item {
        width: 100%;
    }
    .expert-item:not(:last-of-type) {
        margin: 0 0 15px 0;
    }
    .expert-item__title {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .expert-item__description {
        font-weight: 500;
        font-size: 12px;
    }
    .expert-item__description br, .employee-item__p br{
        display: none;
    }
    .employees-stats {
        flex-direction: column;
    }
    .employee-item:not(:last-of-type) {
        margin: 0 0 10px 0;
    }
    .employee-item__title {
        font-size: 16px;
    }
    .employee-item__p {
        font-size: 12px;
    }
    .employees-info {
        margin-top: 20px;
        flex-direction: column;
    }
    .employees-info__description {
        margin: 0 0 20px 0;
    }
    .employees-info-p {
        font-size: 12px;
    }
    .employees-info-p span {
        font-weight: 500;
    }
    .employees-info-photo {
        width: 154px;
        height: initial;
        margin: 0 0 0 6px;
    }
    .employees-info-ceo__name, .employees-info-ceo__subtitle {
        font-weight: 500;
        font-size: 12px;
    }
    .employees-cta{
        margin-top: 20px;
    }
    .partners-line:nth-of-type(1) .partners-item:not(:last-of-type), .partners-line:nth-of-type(2) .partners-item:not(:last-of-type), .partners-line:nth-of-type(3) .partners-item:not(:last-of-type), .partners-line:nth-of-type(4) .partners-item:not(:last-of-type) {
        margin-right: 5px;
    }
    .partners-line:nth-of-type(1) .partners-item {
        max-width: calc(calc(100% - 30px) / 7);
    }
    .partners-line:nth-of-type(2) .partners-item {
        max-width: calc(calc(100% - 25px) / 6);
    }
    .partners-line:nth-of-type(3) .partners-item {
        max-width: calc(calc(100% - 20px) / 5);
    }
    .partners-line:nth-of-type(4) .partners-item {
        max-width: calc(calc(100% - 20px) / 5);
    }
    .partners-line:not(:last-of-type) {
        margin-bottom: 15px;
    }
    .prices-dependencies{
        flex-direction: column;
    }
    .prices-dependenciec__title {
        font-weight: 600;
        font-size: 16px;
        margin: 0 0 20px 0;
    }
    .price-dependency::before {
        width: 117px;
        margin-right: 14px;
        height: 12px;
    }
    .price-dependency {
        font-weight: 500;
        font-size: 12px;
    }
    .price-dependency:not(:last-of-type) {
        margin-bottom: 20px;
    }
    .employees::before {
        background-position-x: 83%;
    }
    .prices-numbers {
        margin-top: 20px;
    }
    .prices-numbers-line {
        flex-direction: column;
    }
    .prices-numbers-line:not(:last-of-type) {
        margin-bottom: 15px;
    }
    .prices-numbers-item:not(:last-of-type) {
        margin: 0 0 15px 0;
    }
    .prices-numbers-item__title {
        font-size: 16px;
        margin: 0 0 12px 0;
    }
    .prices-numbers-item__p {
        font-weight: 500;
        font-size: 12px;
    }
    .prices {
        background-position-x: 80%;
    }
    .step__title {
        font-size: 15px;
    }
    .steps-wrapper{
        flex-direction: column;
    }
    .step__description {
        font-size: 12px;
    }
    .step:not(:last-of-type) {
        margin-bottom: 15px;
    }
    .steps-form {
        margin-top: 20px;
        padding: 30px;
        max-width: 300px;
    }
    .steps-form__warning {
        font-weight: 500;
        font-size: 12px;
        margin-bottom: 25px;
    }
    .steps-form-inputs__field:not(:last-of-type) {
        margin-bottom: 15px;
    }
    .common-input {
        padding: 13px 20px;
        font-size: 12px;
    }
    .steps-form__submit {
        margin-top: 15px;
        padding-left: 0;
        width: 100%;
        padding-right: 0;
        font-weight: 500;
    }
    .footer-logo {
        width: 81px;
        height: 26px;
    }
    .footer-line {
        margin-top: 30px;
        flex-direction: column;
        align-items: flex-start;
    }
    .footer-info {
        flex-direction: column;
        align-items: flex-start;
    }
    .footer-info__text:not(:last-child) {
        margin: 0 0 15px 0;
    }
    .footer-info__text_address{
        text-align: left;
    }
    .footer-info__text {
        font-weight: 500;
        color: #fff;
    }
    .footer-copyright {
        margin-top: 30px;
    }
    .footer::before {
        background-position-x: 30%;
    }
    .modal-content{
        width: calc(100% - 40px);
        max-width: 300px;
        padding: 50px 20px 20px 20px;
    }
    .modal-close {
        width: 15px;
        height: 15px;
    }
    .modal-form-warn {
        font-weight: 500;
        font-size: 12px;
        margin-bottom: 15px;
    }
    .modal-form-fields__input {
        width: 100%;
    }
    .modal-form-fields__input:not(:nth-last-child(-n+2)) {
        margin-bottom: 0;
    }
    .modal-form-fields__input:not(:last-of-type) {
        margin-bottom: 15px;
    }
    .modal-form-submit {
        margin-top: 15px;
        padding-right: 0;
        padding-left: 0;
    }
}
/* #endregion */